.search {
  display: inline-block;
  padding: 10px;
}
.search__img {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  box-shadow: 10px 10px 10px black;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.3s;
}
.search__img:hover {
  background: rgb(201, 200, 200);
}
.search__img._active {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  box-shadow: inset 5px 5px 5px black;
  margin-bottom: 10px;
  border-radius: 5px;
}
.search__info {
  display: none;
}
.search__info._active {
  display: block;
}
.search__text {
  border: 2px black solid;
  border-radius: 10px;
}