.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.header__logo img {
  max-width: 100%;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 5;
}
.header__list li {
  margin-left: 20px;
}
.header__link {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 3;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.content {
  padding: 100px 0px 0px 0px;
}
.content__text {
  font-size: 16px;
  line-height: 25px;
}
.content__text p {
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    background-color: white;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    display: none;
  }
  .header__burger::before,
.header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    top: -1000px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    padding: 70px 0 0 0;
    transition: all 0.3s ease;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    flex-direction: column;
  }
  .header__list li {
    margin: 0 0 20px 0;
    text-align: center;
  }
  .content {
    padding: 70px 0 0 0;
  }
}